html body {
  /* increase specificity, and therefore priority, over the theme. */
  /* padding: 0; */
}

html,
body,
#root,
main {
  min-height: 100%;
}

#root,
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

vscode-icon {
  /* cursor: pointer; */
  border: 1px solid transparent;
}

vscode-icon[aria-pressed="true"] {
  color: var(--vscode-inputOption-activeForeground);
  background-color: var(--vscode-inputOption-activeBackground);
  border: 1px solid var(--vscode-inputOption-activeBorder);
  border-radius: 3px;
}

vscode-tree::part(description) {
  color: var(--vscode-disabledForeground);
}

vscode-tree::part(caption-decoration) {
  color: var(--vscode-disabledForeground);
  font-weight: var(--vscode-font-weight);
  margin-right: 7px;
  white-space: nowrap;
}
