html body {
  /* increase specificity, and therefore priority, over the theme. */
  /* padding: 0; */
}

html, body, #root, main {
  height: 100%;
}

#root, main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
