.no-max-width {
  max-width: none;
}

.x-padding {
  padding-left: 20px;
  padding-right: 20px;
}

.no-y-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.no-top-margin {
  margin-top: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.thin-bottom-margin {
  margin-bottom: 2px;
}

.top-margin {
  margin-top: 20px;
}

.thick-bottom-margin {
  margin-bottom: 1em;
}

.medium-bottom-margin {
  margin-bottom: 10px;
}

.text-discreet {
  font-size: 11px;
  font-weight: normal;
}

.text-disabled {
  color: var(--vscode-disabledForeground);
}

.text-super-dimmed {
  color: var(--vscode-editorWhitespace-foreground);
}

.dimmed {
  opacity: 0.5;
}

.textfield-full {
  width: 100%;
}

.textarea-full {
  width: 100%;
  height: 5em;
}

.display-block {
  display: block;
}

.gap-em {
  gap: 1em;
}

.x-end {
  display: flex;
  justify-content: flex-end;
}

.button-link-helper {
  background-color: transparent;
  color: var(--vscode-textLink-foreground);
  padding: 0;
  border-width: 0;
  border-style: none;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 11px;
  cursor: pointer;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 2px;
}

.button-group-grow {
  flex-grow: 1;
}

.error-message {
  max-width: none;
  max-height: 5em;
  overflow-y: auto;
  margin-top: 0;
  padding: 0 2px;
  color: var(--vscode-editorError-foreground);
}

.helper-text {
  color: var(--vscode-sideBarTitle-foreground);
  text-transform: uppercase;
  font-size: 11px;
  line-height: 11px;
}

.file-tree-wrapper {
  overflow: hidden;
}
