.stepInnerWrapper {
  padding-left: 22px;
  padding-right: 2px;
  margin-bottom: 1em;
}

.labelAndActions {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  margin-bottom: 2px;
}

.labelAndActions > .label {
}

.labelAndActions > .actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 2px;
}

.stepActionIcons {
  display: none;
}

.stepActionsMenu {
  display: block;
}

@media (min-width: 300px) {
  .stepActionIcons {
    display: block;
  }

  .stepActionsMenu {
    display: none;
  }
}
